# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Generated Reports (optional)
reports/reports/

# Python Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/